
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  padding-top: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.main__header{
  padding: 10px 5% 20px;
  background: #28323a;
  margin-bottom: 30px;
}

.main__h1 {
  font-size: 26px;
  padding-right: 35%;
  margin-bottom: 25px;
}

.post_title{
  color: white;
}

.widget-header{
  background: #F7F7F7;
  font-size: 20px;
  padding: 10px 5%;
  margin-bottom: 0;
}

.main__footer{
  background: #28323A !important;
}